
# Ignore Python cache files
__pycache__
venv/
venv/*
/venv
*venv*

# These files are used to store environment variables and should not be committed to version control.
.env
env.sh
keys
keys/*
keys/docai-service-account.json
.env
requirements.txt

# Ignore Python bytecode files
TODO
*.json
*.log
logs
.vscode




